$font1: 'Oleo Script', cursive;
$font2: 'Roboto', sans-serif;

.App {

    border: 1px solid grey;
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
    width: 700px;
} 
